
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Add to Movie list</h1>
<div class="row">
    <div class="col-12">
        <form class="form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="d-flex">
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" placeholder="Enter movie name" name="mname">
                </div>
                <div>
                    <label for="image">Image</label>
                    <input type="file" id="image" name="mimg">
                </div>
                <div>
                    <label for="lang">Language</label>
                    <input type="text" id="lang" placeholder="Enter movie name" name="lang">
                </div>
                <div>
                    <label for="det">details</label>
                    <input type="text" id="det" placeholder="Enter movie details" name="det">
                </div>
                <button class="form-submit-btn" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}